@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Gowun+Dodum&family=Kanit&family=Noto+Sans&family=Poppins&family=Roboto&family=Solitreo&display=swap');


.App {
  text-align: center;
  font-family: 'Gowun Dodum', sans-serif;
}


.App-go{
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .heading-1 {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in ;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #282c34;

  transform: translateX(-150px);
} */
/* 
.hover {
  background-color: gray;
} */