@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Gowun+Dodum&family=Kanit&family=Noto+Sans&family=Poppins&family=Roboto&family=Solitreo&display=swap');


.App {
  text-align: center;
  font-family: 'Gowun Dodum', sans-serif;
  /* overflow-y:scroll;  */
}


.App-go{
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TextBox {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.off {
  filter: grayscale(100%);
  
}
.on {
  filter: brightness(100%);
  /* transition: 5s; */
}

.Nav{
  background: #000;
  height: 80px;
  /* margin-top: -80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and(max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.NavLogo{
  color:red;
    justify-content:flex-start ;
    cursor:pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
}




/* .Adsf1{

} */

/* .card-container {
  contain: style layout inline-size;
  width: 100%;
  border: 1px solid #663399;
  padding: 0px;
  transition: all 1s;
  display:'flex';
}
.title {
  font-size: 30px;
} */

/* @container (max-width: 350px){
  .tilte{
    font-size: 30px;
    color: grey;
  }
} */


/* .heading-1 {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in ;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #282c34;

  transform: translateX(-150px);
} */
/* 
.hover {
  background-color: gray;
} */

.button2color{
   width: 100%;
   height: 20vh;
   background-color: #fbbc05;
   border-radius: 8px;
   border:none;

}

.button2color:hover{
  /* background-color: rgb(115, 115, 115); */
  filter: grayscale(30%);
} 

.navs-font{
  white-space: nowrap;
  text-align: center;
}
.navs1cl{
  text-align: center;

}