@keyframes slideInLeft {
  from{
    transform: translateX(-300px);
  }

  to{
    transform: translateX(0);
  }
}



.filter{
  font-weight: bolder;
  font-size: 200%;
  filter: grayscale(100%)
}



.new{
    margin-top: 20px;
    margin-left: 15%;
    padding: 15px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);    width: 70%;
    cursor : pointer;
    border-radius: 15px;
    font-size: 120%;
  }
  .new h1{
    font-weight: bold;
    font-size: 140%;
  }


  .news{
     margin-top: 4%;
     width:230px; 
     left:0; 
     right:0; 
     margin-left:auto; 
     margin-right:auto;
     display: inline-block;
     height: 100%;
     text-align: center;
  }
  
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 0 4px;
      text-align: center;
      
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .paginations a:hover:not(.active) {background-color: #ddd;} 
  

.new1{
  margin-top: 20px;
    margin-left: 15%;
    padding: 15px;
    text-align: center;
    font-size: 170%;
    font-weight: normal;
    width: 70%;
    cursor : pointer;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
}


.new2{
  margin-top: 20px;
  margin-left: 15%;
  padding: 15px;
  text-align: center;
  font-size: 120%;
  font-weight: normal;
  width: 70%;
  cursor : pointer;
  border-radius: 15px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.new2 h1{
  font-weight: bold;
  font-size: 140%;
}




  .button{
    margin-top: 20px;

    padding: 15px;
    background-color: antiquewhite;
    text-align: center;
    width: 110%;

  }



  .box01{
    width: 100%;
    height: 100%; 
    position: relative;
  padding: 20px;
margin-bottom: 10px;}
.box01::before{
    content: "";
    background: url(/public/KakaoTalk_20230210_160013922.jpg);
    background-Repeat: no-repeat;
    background-color: #8cdee7;
    background-size: contain;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.box01 h1{
color: black;
text-align: center;
line-height: 50px;  
position: relative;}
.box01 p{
  color: black;
  line-height: 50px;  
  position: relative;}
  .box01 div{
    color: black;
    line-height: 30px;  
    position: relative;}
    .box01 input{
      color: black;
      line-height: 30px;  
      position: relative;}


/* .search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: rgb(17, 17, 17);
    padding: 20px 100px 20px 45px;
    font-size: 40px;
  } */

  



  /* .pagination{

    color: black;

    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    text-align: center;
    
  }

  .pagination .page-num{
    padding:8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    text-Decoration: none;
  }

  .pagination .page-num:hover{
    background-color: #5AB1BB;
    color: #fff;
  }

  .pagination .active{
    background-color: #5AB1BB;
  } */

  
  
  .pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size:1.2rem;
    gap: 5px;
    border-color: black;
    text-Decoration: none;
    /* border: 10px solid #ddd; */
    
  }

  .pagination .page-num{
    padding:8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    border-color: black;
    text-Decoration: none;
    
  }

  .pagination .page-num:hover{
    background-color: #5AB1BB;
    color: #fff;
    border-color: black;
  }

  .pagination .active{
    background-color: #5AB1BB;
    border-color: black;
  }