/* body {
  margin: 0;
  overflow-y: hidden;
} */

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
/* .outer::-webkit-scrollbar {
  display: none;
} */

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.bg-yellow {
  background-color: #f7f6cf;
}
.bg-yellow:hover{
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in ;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #282c34;
  color: white;
  transition: all 0.5s;
  touch-action: pan-y;

  transform: translateY(-150px);
} 

.bg-blue {
  background-color: #b6d8f2;
}
.bg-blue:hover{
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #282c34;
  color: white;
  transition: all 0.5s;
  transform: translateX(-150px);
} 

.bg-pink {
  background-color: #f4cfdf;
}

.bg-pink:hover {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in ;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #282c34;
  color: white;
  transition: all 0.5s;

  transform: translateX(-150px);
  touch-action: pan-x;
}



.bg-plum {
  background-color: plum;
}
/* img{
  width: 100%;
  text-align: left;
} */





